Package: com.yourname.cinemanafix
Name: CinemanaFix
Version: 1.0.0
Architecture: iphoneos-arm
Description: Cinemana domain fix tweak
Maintainer: Your Name
Author: Your Name
Section: Tweaks
Depends: mobilesubstrate
